<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xunwu.mapper.SupportAddressMapper">
  <resultMap id="BaseResultMap" type="com.xin.xunwu.entity.SupportAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="belong_to" jdbcType="VARCHAR" property="belongTo" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="baidu_map_lng" jdbcType="DOUBLE" property="baiduMapLng" />
    <result column="baidu_map_lat" jdbcType="DOUBLE" property="baiduMapLat" />
  </resultMap>
</mapper>